body {
  font-family: Trebuchet MS;
  color: rgb(25, 140, 248);
  background-image: url("../img/IMG_3114.JPG");
  background-position: right;
  background-attachment: scroll;
  background-color: blanchedalmond;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-weight: bolder;
}

ul {
  font-size: 22px;
  text-decoration-line: underline;
}

p, 
li {
  font-size: 18px;
 }
